{
    "plugins": ["@babel/plugin-transform-react-jsx-source",   
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src" ,
          "@assets": "./assets" ,
          "@globalStyles": "./globalStyles" 
        }
      }
    ]
  ]
  }